*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Inter",sans-serif;
    background:#f6f6f8;
    color:#111;
    line-height:1.6;
}

.container{
    max-width:1100px;
    margin:auto;
    padding:40px 20px;
}

/* Header */

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3617cf;
}

.logo-icon {
    width: 30px;
    height: 30px;
    background: var(--primary);
    border-radius: 6px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: 500;
}

.nav a:hover {
    color: var(--primary);
}

.btn-primary{
    background:#3617cf;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
    font-weight:600;
}

.btn-primary:hover{
    opacity:.9;
}

/* Hero */

.hero{
    display:flex;
    align-items:center;
    gap:40px;
    margin-bottom:80px;
}

.hero-img img{
    width:220px;
    border-radius:12px;
}

.hero-text h1{
    font-size:42px;
    margin:10px 0;
}

.hero-text h3{
    color:#3617cf;
    margin-bottom:10px;
}

.badge{
    background:#e8e6ff;
    color:#3617cf;
    padding:5px 12px;
    border-radius:20px;
    font-size:12px;
}

/* About */

.about{
    margin-bottom:60px;
}

.about h2{
    margin-bottom:15px;
}

/* Skills */

.skills{
    margin-bottom:60px;
}

.skill{
    margin-bottom:25px;
}

.skill-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:5px;
}

.skill-bar{
    height:8px;
    background:#ddd;
    border-radius:10px;
}

.skill-fill{
    height:100%;
    background:#3617cf;
    border-radius:10px;
}

/* Experience */

.experience{
    margin-bottom:60px;
}

.exp-item{
    margin-bottom:30px;
    padding:20px;
    background:white;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.company{
    color:#3617cf;
    font-weight:600;
}

/* Footer */

.footer{
    text-align:center;
    padding:30px;
    background:white;
    border-top:1px solid #eee;
}

.socials{
    margin-top:10px;
}

.socials a{
    margin:0 10px;
    text-decoration:none;
    color:#555;
}

.socials a:hover{
    color:#3617cf;
}