*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Inter",sans-serif;
    background:#f6f6f8;
    color:#111;
    line-height:1.6;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3617cf;
}

.logo-icon {
    width: 30px;
    height: 30px;
    background: var(--primary);
    border-radius: 6px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: 500;
}

.nav a:hover {
    color: var(--primary);
}

.active{
    color:#3617cf;
    border-bottom:2px solid #3617cf;
}

.btn-primary{
    background:#3617cf;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
}

/* HERO */

.hero{
    max-width:1000px;
    margin:auto;
    padding:80px 20px;
}

.hero h1{
    font-size:56px;
    font-weight:900;
}

.hero h1 span{
    color:#3617cf;
}

.hero p{
    margin-top:20px;
    font-size:20px;
    color:#666;
}

.badge{
    display:inline-flex;
    align-items:center;
    gap:6px;
    background:#eae8ff;
    color:#3617cf;
    padding:5px 12px;
    border-radius:20px;
    font-size:12px;
    margin-bottom:20px;
}

/* SERVICES */

.services{
    max-width:1200px;
    margin:auto;
    padding:60px 20px;
}

.services h2{
    margin-bottom:40px;
    font-size:30px;
}

.services-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.service-card{
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-5px);
}

.service-card img{
    width:100%;
    border-radius:8px;
    margin-bottom:15px;
}

/* PROCESS */

.process{
    background:#f0f0f4;
    padding:80px 20px;
    text-align:center;
}

.process-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:40px;
    margin-top:40px;
}

.step span{
    font-size:40px;
    color:#3617cf;
}

/* CTA */

.cta{
    background:#3617cf;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.cta-buttons{
    margin-top:30px;
}

.btn-white{
    background:white;
    color:#3617cf;
    border:none;
    padding:12px 25px;
    margin-right:10px;
    border-radius:8px;
}

.btn-outline{
    background:none;
    border:1px solid white;
    color:white;
    padding:12px 25px;
    border-radius:8px;
}

/* FOOTER */

.footer{
    text-align:center;
    padding:30px;
    background:white;
    margin-top:40px;
}

.footer-logo{
    color:#3617cf;
    font-weight:700;
    margin-bottom:10px;
}